
/* Customize by W */
:root {
    --main-bg-color: #ac1a1a;
    --secondary-bg-color: #1a30ac;
    --third-bg-color: #b9b9b94c;
    --forth-bg-color: #ac1a1a;
    --menu-text-color-hover: #000000;
    --bg-white-color: #ffffff;
    --bg-black-color: #000000;
  }
